<head>
  <%= stylesheet_link_tag "comment_element" %>
</head>
<body>
  <div class="space_commnet_element mrg border comments_body">
    <div class="data_mrg">
      <% comments.each do |comment| %>
        <div>
          <div class="data">
            <p><%= User.find(comment.user_id).name %>:</p>
            <p><%= comment.text %></p>
          </div>
          <div class="new_like">
            <% if can? :destroy, comment %>
              <%= link_to 'Delete', user_post_comment_path(user_id: @user.id, post_id: @post.id, id: comment.id), method: :delete, remote: true, class: 'no_link' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</body>