<head>
  <%= stylesheet_link_tag "user_index" %>
</head>
<body>
  <div class="space_btw">
    <% @users.each do |user| %>
      <%= render partial: 'user', locals: { user: user } %>
    <% end %>
  </div>
  <div class="new_post">
    <%= link_to 'New Post', new_user_post_path(@user) %>
  </div>
</body>
