<%= render partial: 'user', locals: { user: @user } %>
<h2>Bio</h2>
<p><%= @user.bio %></p>

<% if @posts.present? %>
  <% @posts.each do |post| %>
    <%= render partial: 'posts/post', locals: { post: post } %>
  <% end %>
<% else %>
  <p>No posts available</p>
<% end %>