<head>
  <%= stylesheet_link_tag "post_index" %>
</head>
<body>
  <div>
    <%= render partial: 'users/user', locals: { user: @user } %>
  </div>
  <div>
    <% @posts.each_with_index do |post, index| %>
      <%= render partial: 'posts/post', locals: { post: post, index: index } %>
      <% @comments = post.comments %>
      <%= render partial: 'comments/comment', locals: { comments: @comments } %>
    <% end %>
  </div>
  <div class="btn">
    <button type="button">Pagination</button>
  </div>
</body>
