
<head>
  <%= stylesheet_link_tag "post_show" %>
</head>
<body>
  <div>
    <%= render partial: 'posts/post', locals: { post: @post, index: @post.id } %>
  </div>
  <%= render partial: 'comments/comment', locals: { comments: @comments } %>
</body>
