.data_mrg {
  margin-top: 20px;
  margin-bottom: 20px;
}

.data {
  display: flex;
  margin-left: 35px;
}

.data p {
  font-size: 30px;
  margin-right: 5px;
}

.comments_body {
  margin-left: 35px;
  margin-right: 35px;
}

.space_commnet_element {
  margin-top: 0;
}

.mrg p {
  margin-top: 0;
  margin-bottom: 0;
}

.border {
  border-style: solid;
}
