.space_post_element {
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 20px;
  margin-bottom: 0;
}

.border {
  border-style: solid;
}

.post_title {
  margin-top: 0;
  margin-bottom: 0;
}

.post_title h3 {
  font-size: 30px;
}

.post_body p {
  font-size: 25px;
}

.post_info {
  display: flex;
  justify-content: end;
  margin-right: 35px;
}

.new_like {
  text-align: right;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 35px;
  margin-right: 60px;
}

.new_like a {
  text-decoration: none;
  color: white;
  border: solid;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
}
